<header>
  <div class="l-header">
    <div class="l-header_toggle js-toggle">
      <span></span>
    </div>
    <div class="l-header_inner">
      <a href="<%= meta.path %>" class="l-header_logo"><img src="<%= meta.path %>assets/img/common/logo.png" alt="タイトル"></a>
      <div class="l-header_navArea js-toggle--target">

        <nav class="navGlobal">
          <ul class="menu">
            <li class="menu_item">
              <a href="<%= meta.path %>"><span>TOP</span></a>
            </li>
            <li class="menu_item menu_item--hasChildren">
              <a href="<%= meta.path %>"><span>親メニュー</span></a>
              <ul class="submenu">
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
              </ul>
            </li>
            <li class="menu_item menu_item--hasChildren">
              <a href="<%= meta.path %>"><span>親メニュー</span></a>
              <ul class="submenu">
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
              </ul>
            </li>
            <li class="menu_item menu_item--hasChildren">
              <a href="<%= meta.path %>"><span>親メニュー</span></a>
              <ul class="submenu">
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
              </ul>
            </li>
            <li class="menu_item menu_item--hasChildren">
              <a href="<%= meta.path %>"><span>親メニュー</span></a>
              <ul class="submenu">
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
                <li class="submenu_item"><a href="<%= meta.path %>">子メニュー</a></li>
              </ul>
            </li>
          </ul>
          <a href="" class="l-header_entry">お問い合わせ</a>
        </nav>

      </div>
    </div>
  </div>
</header>